<div>
    <div style = "float:left; width:200px; margin-right:20px;">
        <hr/>
        {% if request.user == note.author %}
            <p>
                <a href="/notes/note/edit/{{ note.id}}">Edit note</a>
            </p>
            <p>
                <a href="/notes/note/delete/{{ note.id}}">Delete note</a>
            </p>
            {% if note.is_completed %}
                <p>
                    <a href="/notes/note/complete/{{ note.id}}">Set note as uncomplete</a>
                </p>
            {% else %}
                <p>
                    <a href="/notes/note/complete/{{ note.id}}">Set note as complete</a>
                </p>
                <p>
                    <a href="/notes/comment/create/?note={{ note.id }}">Add comment</a>
                </p>
            {% endif %}
        {% endif %}
        <p>
            <a href="/notes/topic/{{ note.topic.id }}/">Back to topic</a>
        </p>
        <hr/>
    </div>
    <div style = "float:left;">
        <p>Topic: {{ note.topic.name }}</p>
        {% if note.is_completed %}
            <p>
                {{ note.name }}[closed]
            </p>
        {% else %}
            <p>
                {{ note.name }}
            </p>
        {% endif %}
        <p>{{ note.description }}</p>
        <p>Created by {{ note.author }}</p>
        <p>Created at {{ note.created_at }}</p>
        <p>Last update {{ note.updated_at }}</p>
        <hr/>
        {% if comments %}
            {% for comment in comments %}
                <p>
                    <a href="/notes/user/{{ comment.author.id }}/">{{ comment.author }}</a>&nbsp;{{ comment.created_at|timesince }} ago&nbsp;
                    {% if request.user == comment.author %}
                        <a href="/notes/comment/edit/{{ comment.id }}/">Edit</a>&nbsp;
                        <a href="/notes/comment/delete/{{ comment.id }}/">Delete</a>
                    {% endif %}
                </p>
                <p>
                    {{ comment.message }}
                </p>
                <hr/>
            {% endfor %}
        {% else %}
            <p>No comments for this note are available.</p>
        {% endif %}
    </div>
</div>
